@model List<HomeNuggetListItemViewModel>
<ul class="nuggets">
    @foreach (var nugget in Model)
    {
        <li class="nugget">
            <article>
            <header class="hd">
                <h1>
                    @nugget.Title</h1>
            </header>
            <div class="description">
                <p>
                   @nugget.Description</p>
            </div>
            <footer class="meta">
                <p class="created">
                    <strong>Posted:</strong> @DateTimeFormater.GetReadableTimespan(nugget.Created) <span>by</span> @nugget.PostedBy</p>
            </footer>
        </article>
        </li>
        
    }
</ul>
