@{
    ViewBag.Title = "Nugget List";
}

<div class="addNugget">
    <form action="#" method="post">
    <div class="control-group">
        <label class="control-label" for="name">
            Name</label>
        <div class="controls">
            <input class="input-block-level" type="text" placeholder="Share your nugget..." id="name" />
        </div>
    </div>
    <div class="additionalFields">
        <div class="control-group">
            <label class="control-label" for="name">
                Name</label>
            <div class="controls">
                <textarea class="input-block-level" rows="10" placeholder="Describe your nugget"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn">
                Cancel</button>
            <button type="submit" class="btn btn-primary btn-large">
                Post nugget</button>
        </div>
    </div>
    </form>
</div>


@Html.Partial("_homeNuggetList", new List<HomeNuggetListItemViewModel>()
    {
        new HomeNuggetListItemViewModel()
            {
                Title = "I Can Typing",
                Description = "I Can Typing",
                Created = new DateTime(2013, 02, 08, 22, 59, 00)
            }
    })